@tailwind base;
@tailwind components;
@tailwind utilities;

@media(max-width: 768px) {
    .full-width-md {
        width: 100% !important;
    }
}

@media(max-width: 992px) {
    .larger-width-lg {
        width: 75% !important;
    }
    .full-width-lg {
        width: 100% !important;
    }
}

.responsive-listed-house-card{
    height: 50vh;
    min-height: 500px;
}

div.card img {
    object-fit: cover;
}

.overflow-text {
    overflow: hidden;
    /*white-space: nowrap;*/
}

.min-w-700{
    min-width: 700px;
}
